{% extends 'base.html' %}

{% block title %}Изменить категория{% endblock %}

{% block sidebar %}
		{% for category in categories %}
			<a href="{% url 'newnotes:view_category' category.id%}">{{category.name}}</a>
		{% endfor %}
{% endblock %}

{% block content %}
	<h1>Форма категории</h1>
	<form method="POST">
		{% csrf_token %}
		<h4>Название</h4>
		<input type="text" size="50" name="name" placeholder="Название категории..." value="{{category.name}}"><br>
		<input type="submit" value="Изменить катерогию">
	</form>
{% endblock %}